---
#
# This is simple jinja2 file used to generate peer variable based on dynamic input.
#
{% for peer in wireguard_peers %}
- WireGuardPeer:
  - FriendlyName: {{ peer.name }}
  - AllowedIPs: {{ peer.allowed_ip }}/32
  - PublicKey: "{{ peer.publickey }}"
  - PresharedKey: "{{ _pskkey_value['content'] | b64decode }}"
  - PersistentKeepalive: {{ peer.keepalive | default(wireguard_keepalive) }}
{% endfor %}
